---
---

@import "{{ site.theme }}";
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

:root {
  --opn-store-primary: #15b695;
  --opn-store-secondary: #39ace7;
  --background: #1c1c27;
  --foreground: #96aecc;
  --dark: #282a3c;
  --font-base: 'Roboto Slab';
  --font-monospace: 'Menlo';
  --line-height: 1.75;
}

header {
  border-bottom: 3px solid var(--foreground);
  display: none;
}

header h2 {
  display: none;
}

#a-title h1 {
  color: var(--opn-store-primary);
  font-family: var(--font-base);
  text-transform: uppercase;
  text-align: center;
  text-shadow: none;
}

#a-title h1:before {
  display: none;
}

section#downloads {
  display: none;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-base);
  font-size: 20px;
  line-height: var(--line-height);
}

h1, h2, h3, h4, h5 {
  background: linear-gradient(90deg, var(--opn-store-primary) 0%, var(--opn-store-secondary) 70%);
  color: var(--background);
  font-family: var(--font-base);
  font-weight: bold;
  letter-spacing: 1px;
  text-shadow: none;
  margin: 2.5rem 0 1rem -1rem;
  padding: 0 1rem;
  display: inline-block;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

h1:after, h2:after, h3:after, h4:after, h5:after  {
  content: ' ';
  display: block;
  background: linear-gradient(90deg, var(--opn-store-primary) 0%, var(--opn-store-secondary) 70%);
  height: 0.1em;
  width: 100%;
}

#main_content h1 {
  font-size: 3rem;
}

code {
  font-family: var(--font-monospace);
}

pre {
  background-color: var(--dark);
  border-radius: 0.5rem;
  border: none;
  font-family: var(--font-monospace);
  line-height: 1.5;
  margin: 1rem 0;
  padding: 1rem;
}

#main_content ul li {
  line-height: var(--line-height);
  list-style-type: initial;
  list-style-image: none;
  margin-bottom: 0.5rem;
}

#main_content ul {
  margin-top: 1rem;
  padding-inline-start: 1.5rem;
}
